@use "variables.scss";
@use "base.scss";
@use "flex.scss";
@use "utils.scss";
@use "debug.scss";
@use "themes.scss";

@use "../../assets/styles/mixins" as mixin;

.app {
  min-height: 100vh;
}

.header {
  position: relative;
  padding: 10px 20px;
  height: 58px;
  background-color: white;
  box-shadow: var(--box-shadow-nav);
  color: var(--primary);
  margin-bottom: 20px;
  img {
    width: 130px;
    cursor: pointer;
  }
}

.headerList {
  display: flex;
  gap: 5px;
  @include mixin.xs {
    display: none;
  }
}

.headerXs {
  display: none !important;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
  @include mixin.xs {
    display: block !important;
  }
}

.footer {
  background-color: var(--gray-1);
  color: white;
}

.active {
  font-weight: bold;
}

.button {
  width: max-content;
  border: none;
  border-radius: 999px;
  background-color: var(--primary);
  color: var(--gray-2);
  border-radius: 999px;
  border: none;
  min-width: 80px;
  padding: 4px 7px;
  text-align: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.2s ease-out;
  &:hover {
    background-color: var(--gray-2);
    color: var(--primary);
    border: 2px solid var(--primary);
  }
}
